In [242]:
#Following is a Project in Data Analysis using Pandas. 
#My main question for this project is, "How does number smoking, age and other medical issues affect COPD?" 
#I am using several datasets including dataset.csv,        to extract data to support my findings.

In [243]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [244]:
#Import my first COPD dataset from Kaggle after moving and unzipping the dataset in my project folder
copd_dataset1 = pd.read_csv('dataset.csv')

In [245]:
#Display the first 10 rows of the dataset to see the column names and data in the columns
copd_dataset1.head(10)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1,MWT2,MWT1Best,FEV1,FEV1PRED,...,SGRQ,AGEquartiles,copd,gender,smoking,Diabetes,muscular,hypertension,AtrialFib,IHD
0,1,58,77,60.0,SEVERE,120.0,120.0,120.0,1.21,36.0,...,69.55,4,3,1,2,1,0,0,1,0
1,2,57,79,50.0,MODERATE,165.0,176.0,176.0,1.09,56.0,...,44.24,4,2,0,2,1,0,0,1,1
2,3,62,80,11.0,MODERATE,201.0,180.0,201.0,1.52,68.0,...,44.09,4,2,0,2,1,0,0,1,0
3,4,145,56,60.0,VERY SEVERE,210.0,210.0,210.0,0.47,14.0,...,62.04,1,4,1,2,0,0,1,1,0
4,5,136,65,68.0,SEVERE,204.0,210.0,210.0,1.07,42.0,...,75.56,1,3,1,2,0,1,1,0,0
5,6,84,67,26.0,MODERATE,216.0,180.0,216.0,1.09,50.0,...,73.82,2,2,0,1,1,0,0,1,0
6,7,93,67,50.0,SEVERE,214.0,237.0,237.0,0.69,35.0,...,77.44,2,3,0,1,1,0,0,1,0
7,8,27,83,90.0,SEVERE,214.0,237.0,237.0,0.68,32.0,...,45.41,4,3,1,2,1,0,0,1,0
8,9,114,72,50.0,MODERATE,231.0,237.0,237.0,2.13,63.0,...,69.61,3,2,1,1,1,0,0,1,0
9,10,152,75,6.0,SEVERE,226.0,240.0,240.0,1.06,46.0,...,55.56,3,3,0,2,0,1,0,0,0

In [246]:
#Displaying the size of the data set and data types of the data in each column
copd_dataset1_shape = copd_dataset1.shape
print(f'The Dataframe has {copd_dataset1_shape[0]} rows and {copd_dataset1_shape[1]} columns! \n')
print(copd_dataset1.info())

The Dataframe has 101 rows and 24 columns!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    101 non-null    int64
 1   ID            101 non-null    int64
 2   AGE           101 non-null    int64
 3   PackHistory   101 non-null    float64
 4   COPDSEVERITY  101 non-null    object
 5   MWT1          99 non-null     float64
 6   MWT2          100 non-null    float64
 7   MWT1Best      100 non-null    float64
 8   FEV1          101 non-null    float64
 9   FEV1PRED      101 non-null    float64
 10  FVC           101 non-null    float64
 11  FVCPRED       101 non-null    int64
 12  CAT           101 non-null    int64
 13  HAD           101 non-null    float64
 14  SGRQ          101 non-null    float64
 15  AGEquartiles  101 non-null    int64
 16  copd          101 non-null    int64
 17  gender        101 non-null    int64
 18  smoking       101 non-null    int64
 19  Diabetes      101 non-null    int64
 20  muscular      101 non-null    int64
 21  hypertension  101 non-null    int64
 22  AtrialFib     101 non-null    int64
 23  IHD           101 non-null    int64
dtypes: float64(9), int64(14), object(1)
memory usage: 19.1+ KB
None

In [247]:
#Test for missing values.
print(copd_dataset1.isnull().any().any())

True

In [248]:
# Check for empty cells (isnull) = true.
print(copd_dataset1.isnull().sum)

<bound method DataFrame.sum of      Unnamed: 0     ID    AGE  PackHistory  COPDSEVERITY   MWT1   MWT2  \
0         False  False  False        False         False  False  False
1         False  False  False        False         False  False  False
2         False  False  False        False         False  False  False
3         False  False  False        False         False  False  False
4         False  False  False        False         False  False  False
..          ...    ...    ...          ...           ...    ...    ...
96        False  False  False        False         False  False  False
97        False  False  False        False         False  False  False
98        False  False  False        False         False  False  False
99        False  False  False        False         False  False  False
100       False  False  False        False         False   True   True

     MWT1Best   FEV1  FEV1PRED  ...   SGRQ  AGEquartiles   copd  gender  \
0       False  False     False  ...  False         False  False   False
1       False  False     False  ...  False         False  False   False
2       False  False     False  ...  False         False  False   False
3       False  False     False  ...  False         False  False   False
4       False  False     False  ...  False         False  False   False
..        ...    ...       ...  ...    ...           ...    ...     ...
96      False  False     False  ...  False         False  False   False
97      False  False     False  ...  False         False  False   False
98      False  False     False  ...  False         False  False   False
99      False  False     False  ...  False         False  False   False
100      True  False     False  ...  False         False  False   False

     smoking  Diabetes  muscular  hypertension  AtrialFib    IHD
0      False     False     False         False      False  False
1      False     False     False         False      False  False
2      False     False     False         False      False  False
3      False     False     False         False      False  False
4      False     False     False         False      False  False
..       ...       ...       ...           ...        ...    ...
96     False     False     False         False      False  False
97     False     False     False         False      False  False
98     False     False     False         False      False  False
99     False     False     False         False      False  False
100    False     False     False         False      False  False

[101 rows x 24 columns]>

In [249]:
#Drop rows where isnull = True
if copd_dataset1.isnull().any().any():
    copd_dataset1 = copd_dataset1.dropna()  
    print("Rows with isnull values = True have been dropped.")
else:
    print("No missing values found.")
#First run, receive "Rows with isnull values have been dropped".  
# The second time run, it says "No missing vaules found"

Rows with isnull values = True have been dropped.

In [250]:
#Reset the index after null values have been dropped
copd_dataset1 = copd_dataset1.dropna().reset_index(drop=True)#

In [251]:
#Get column names for preparation to drop unnecessary columns
copd_dataset1.columns

Index(['Unnamed: 0', 'ID', 'AGE', 'PackHistory', 'COPDSEVERITY', 'MWT1',
       'MWT2', 'MWT1Best', 'FEV1', 'FEV1PRED', 'FVC', 'FVCPRED', 'CAT', 'HAD',
       'SGRQ', 'AGEquartiles', 'copd', 'gender', 'smoking', 'Diabetes',
       'muscular', 'hypertension', 'AtrialFib', 'IHD'],
      dtype='object')

In [252]:
#Clean dataset
#Define my program to clean my dataset.
def clean_cd(copd_dataset1):

   # Drop unnecessary columns that will not be needed in my analysis.
   cols_to_drop = ['MWT1','MWT2','FEV1', 'FEV1PRED', 'FVC','FVCPRED','AGEquartiles','CAT', 'HAD', 'SGRQ', 'gender','Diabetes','hypertension','muscular','AtrialFib']
   copd_dataset1 = copd_dataset1.drop(columns = cols_to_drop)

   #Drop rows with missing values.
   copd_dataset1 = copd_dataset1.dropna()
   return copd_dataset1

print(copd_dataset1)

    Unnamed: 0   ID  AGE  PackHistory COPDSEVERITY   MWT1   MWT2  MWT1Best  \
0            1   58   77         60.0       SEVERE  120.0  120.0     120.0
1            2   57   79         50.0     MODERATE  165.0  176.0     176.0
2            3   62   80         11.0     MODERATE  201.0  180.0     201.0
3            4  145   56         60.0  VERY SEVERE  210.0  210.0     210.0
4            5  136   65         68.0       SEVERE  204.0  210.0     210.0
..         ...  ...  ...          ...          ...    ...    ...       ...
94          96   12   72         30.0     MODERATE  558.0  563.0     558.0
95          97   10   68         25.0         MILD  511.0  575.0     575.0
96          98   43   75         40.0         MILD  576.0  577.0     577.0
97          99   74   68         30.0     MODERATE  468.0  582.0     582.0
98         100  108   54         30.0       SEVERE  688.0  699.0     699.0

    FEV1  FEV1PRED  ...   SGRQ  AGEquartiles  copd  gender  smoking  Diabetes  \
0   1.21      36.0  ...  69.55             4     3       1        2         1
1   1.09      56.0  ...  44.24             4     2       0        2         1
2   1.52      68.0  ...  44.09             4     2       0        2         1
3   0.47      14.0  ...  62.04             1     4       1        2         0
4   1.07      42.0  ...  75.56             1     3       1        2         0
..   ...       ...  ...    ...           ...   ...     ...      ...       ...
94  1.61      61.0  ...  34.64             3     2       1        2         0
95  2.70      98.0  ...  35.84             2     1       1        2         0
96  2.90      93.0  ...  15.05             3     1       1        2         0
97  1.65      67.0  ...  19.70             2     2       0        2         0
98  1.72      44.0  ...  20.55             1     3       1        2         0

    muscular  hypertension  AtrialFib  IHD
0          0             0          1    0
1          0             0          1    1
2          0             0          1    0
3          0             1          1    0
4          1             1          0    0
..       ...           ...        ...  ...
94         0             0          0    1
95         1             0          0    0
96         1             0          0    1
97         0             1          0    0
98         0             0          0    0

[99 rows x 24 columns]

In [253]:

# call my function to clean my data, drop unnecessary columns, and print out the result to make sure the 
# correct columns were cleaned and dropped.
copd_dataset1_cleaned = clean_cd(copd_dataset1)
copd_dataset1_cleaned.head(10)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1Best,copd,smoking,IHD
0,1,58,77,60.0,SEVERE,120.0,3,2,0
1,2,57,79,50.0,MODERATE,176.0,2,2,1
2,3,62,80,11.0,MODERATE,201.0,2,2,0
3,4,145,56,60.0,VERY SEVERE,210.0,4,2,0
4,5,136,65,68.0,SEVERE,210.0,3,2,0
5,6,84,67,26.0,MODERATE,216.0,2,1,0
6,7,93,67,50.0,SEVERE,237.0,3,1,0
7,8,27,83,90.0,SEVERE,237.0,3,2,0
8,9,114,72,50.0,MODERATE,237.0,2,1,0
9,10,152,75,6.0,SEVERE,240.0,3,2,0

In [254]:
copd_dataset1_cleaned.describe()

,Unnamed: 0,ID,AGE,PackHistory,MWT1Best,copd,smoking,IHD
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,50.434343,91.474747,70.121212,39.803030,398.717172,2.202020,1.838384,0.090909
std,29.151666,52.035181,7.873065,24.623162,107.019552,0.891911,0.369972,0.288943
min,1.000000,1.000000,44.000000,1.000000,120.000000,1.000000,1.000000,0.000000
25%,25.500000,48.500000,65.500000,21.500000,302.500000,2.000000,2.000000,0.000000
50%,50.000000,87.000000,71.000000,36.000000,420.000000,2.000000,2.000000,0.000000
75%,75.500000,143.500000,75.000000,52.500000,465.500000,3.000000,2.000000,0.000000
max,100.000000,169.000000,88.000000,109.000000,699.000000,4.000000,2.000000,1.000000

In [255]:
# DATASET 2 STARTS HERE
# Patient Risk Profiles database
# file name 'patient_risk_profiles.csv'

In [256]:
# Import my second dataset from Kaggle after unzipping the dataset in my Project folder
copd_dataset2 = pd.read_csv('patient_risk_profiles.csv')

In [257]:
#Display the first 10 rows of the 2nd dataset to see the column names and data in the columns
copd_dataset2.head(10)

,personId,age group: 10 - 14,age group: 15 - 19,age group: 20 - 24,age group: 65 - 69,age group: 40 - 44,age group: 45 - 49,age group: 55 - 59,age group: 85 - 89,age group: 75 - 79,...,predicted risk of Muscle weakness or injury,predicted risk of Ankylosing Spondylitis,predicted risk of Autoimmune hepatitis,predicted risk of Multiple Sclerosis,"predicted risk of Acute pancreatitis, with No chronic or hereditary or common causes of pancreatitis",predicted risk of Ulcerative colitis,predicted risk of Migraine,predicted risk of Dementia,predicted risk of Treatment resistant depression (TRD),"predicted risk of Parkinson's disease, inpatient or with 2nd diagnosis"
0,1,0,0,0,0,0,0,0,0,0,...,0.018832,0.000076,0.000080,0.000469,0.000124,0.000231,0.006544,0.000073,0.000394,0.000040
1,2,0,0,0,0,0,0,0,0,0,...,0.179579,0.000502,0.000008,0.000421,0.000817,0.001567,0.024364,0.283879,0.013889,0.019553
2,3,0,0,0,0,0,1,0,0,0,...,0.022318,0.000462,0.000023,0.000527,0.000417,0.001275,0.005430,0.001282,0.001017,0.000113
3,4,0,0,0,0,0,0,0,0,0,...,0.022062,0.000482,0.000034,0.000911,0.000236,0.006386,0.006637,0.000707,0.002266,0.000041
4,5,0,0,0,0,0,0,0,0,0,...,0.063311,0.004115,0.000083,0.001859,0.000700,0.062065,0.004683,0.016372,0.000056,0.003312
5,6,0,0,0,0,0,0,0,0,1,...,0.038937,0.000666,0.000022,0.000127,0.000859,0.001016,0.010039,0.045769,0.000659,0.003366
6,7,0,0,0,0,0,0,0,0,1,...,0.134145,0.001081,0.001395,0.000744,0.000917,0.006372,0.032619,0.331325,0.000315,0.004987
7,8,0,1,0,0,0,0,0,0,0,...,0.047602,0.003274,0.000195,0.000349,0.000396,0.002293,0.039818,0.000345,0.000509,0.000042
8,9,0,0,0,1,0,0,0,0,0,...,0.031362,0.000728,0.000061,0.000193,0.000342,0.043000,0.010836,0.006910,0.003918,0.000764
9,10,0,0,0,0,0,0,1,0,0,...,0.044133,0.000994,0.000009,0.000265,0.000479,0.001884,0.009928,0.007038,0.000139,0.003017

In [258]:
# Test for missing values
print(copd_dataset2.isnull().any().any())

False

In [259]:
# Check for empty cells (isnull) = true.
print(copd_dataset2.isnull().sum)

<bound method DataFrame.sum of     personId  age group:  10 -  14  age group:  15 -  19  \
0      False                 False                 False
1      False                 False                 False
2      False                 False                 False
3      False                 False                 False
4      False                 False                 False
..       ...                   ...                   ...
95     False                 False                 False
96     False                 False                 False
97     False                 False                 False
98     False                 False                 False
99     False                 False                 False

    age group:  20 -  24  age group:  65 -  69  age group:  40 -  44  \
0                  False                 False                 False
1                  False                 False                 False
2                  False                 False                 False
3                  False                 False                 False
4                  False                 False                 False
..                   ...                   ...                   ...
95                 False                 False                 False
96                 False                 False                 False
97                 False                 False                 False
98                 False                 False                 False
99                 False                 False                 False

    age group:  45 -  49  age group:  55 -  59  age group:  85 -  89  \
0                  False                 False                 False
1                  False                 False                 False
2                  False                 False                 False
3                  False                 False                 False
4                  False                 False                 False
..                   ...                   ...                   ...
95                 False                 False                 False
96                 False                 False                 False
97                 False                 False                 False
98                 False                 False                 False
99                 False                 False                 False

    age group:  75 -  79  ...  predicted risk of Muscle weakness or injury  \
0                  False  ...                                        False
1                  False  ...                                        False
2                  False  ...                                        False
3                  False  ...                                        False
4                  False  ...                                        False
..                   ...  ...                                          ...
95                 False  ...                                        False
96                 False  ...                                        False
97                 False  ...                                        False
98                 False  ...                                        False
99                 False  ...                                        False

    predicted risk of Ankylosing Spondylitis  \
0                                      False
1                                      False
2                                      False
3                                      False
4                                      False
..                                       ...
95                                     False
96                                     False
97                                     False
98                                     False
99                                     False

    predicted risk of Autoimmune hepatitis  \
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False
..                                     ...
95                                   False
96                                   False
97                                   False
98                                   False
99                                   False

    predicted risk of Multiple Sclerosis  \
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False
..                                   ...
95                                 False
96                                 False
97                                 False
98                                 False
99                                 False

    predicted risk of Acute pancreatitis, with No chronic or hereditary or common causes of pancreatitis  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
..                                                ...
95                                              False
96                                              False
97                                              False
98                                              False
99                                              False

    predicted risk of Ulcerative colitis  predicted risk of Migraine  \
0                                  False                       False
1                                  False                       False
2                                  False                       False
3                                  False                       False
4                                  False                       False
..                                   ...                         ...
95                                 False                       False
96                                 False                       False
97                                 False                       False
98                                 False                       False
99                                 False                       False

    predicted risk of Dementia  \
0                        False
1                        False
2                        False
3                        False
4                        False
..                         ...
95                       False
96                       False
97                       False
98                       False
99                       False

    predicted risk of  Treatment resistant depression (TRD)  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
..                                                ...
95                                              False
96                                              False
97                                              False
98                                              False
99                                              False

    predicted risk of Parkinson's disease, inpatient or with 2nd diagnosis
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
..                                                ...
95                                              False
96                                              False
97                                              False
98                                              False
99                                              False

[100 rows x 100 columns]>

In [260]:
# Get columns names to prepare to drop (keep) unnecessary columns
copd_dataset2.columns

Index(['personId', 'age group:  10 -  14', 'age group:  15 -  19',
       'age group:  20 -  24', 'age group:  65 -  69', 'age group:  40 -  44',
       'age group:  45 -  49', 'age group:  55 -  59', 'age group:  85 -  89',
       'age group:  75 -  79', 'age group:   5 -   9', 'age group:  25 -  29',
       'age group:   0 -   4', 'age group:  70 -  74', 'age group:  50 -  54',
       'age group:  60 -  64', 'age group:  35 -  39', 'age group:  30 -  34',
       'age group:  80 -  84', 'age group:  90 -  94', 'Sex = FEMALE',
       'Sex = MALE', 'Acetaminophen exposures in prior year',
       'Occurrence of Alcoholism in prior year', 'Anemia in prior year',
       'Angina events in prior year', 'ANTIEPILEPTICS in prior year',
       'Occurrence of Anxiety in prior year', 'Osteoarthritis in prior year',
       'Aspirin exposures in prior year', 'Occurrence of Asthma in prior year',
       'Atrial Fibrillation, incident in prior year',
       'HORMONAL CONTRACEPTIVES in prior year',
       'Any cancer (excl. prostate cancer and benign cancer) in prior year',
       'Acute Kidney Injury (AKI) in prior year',
       'Chronic kidney disease or end stage renal disease in prior year',
       'Heart failure in prior year',
       'Chronic obstructive pulmonary disease (COPD) in prior year',
       'Coronary artery disease (CAD) in prior year',
       'Major depressive disorder, with NO occurrence of certain psychiatric disorder in prior year',
       'Type 1 diabetes and no prior specific non-T1DM diabetes in prior year',
       'Type 2 Diabetes Mellitus (DM), with no type 1 or secondary DM in prior year',
       'Deep Vein Thrombosis (DVT) in prior year', 'Dyspnea in prior year',
       'Edema in prior year', 'Gastroesophageal reflux disease in prior year',
       'Acute gastrointestinal (GI) bleeding in prior year',
       'Heart valve disorder in prior year', 'Chronic hepatitis in prior year',
       'Hyperlipidemia in prior year', 'Hypertension in prior year',
       'Hypothyroidism in prior year',
       'Inflammatory Bowel Disease in prior year',
       'Low back pain in prior year', 'Occurrence of neuropathy in prior year',
       'Obesity in prior year', 'Opioids in prior year',
       'Osteoporosis in prior year',
       'Peripheral vascular disease in prior year', 'Pneumonia in prior year',
       'Psychotic disorder in prior year',
       'Acute Respiratory failure in prior year',
       'Rheumatoid Arthritis in prior year', 'Seizure in prior year',
       'Sepsis in prior year', 'Skin ulcer in prior year',
       'Sleep apnea in prior year', 'Smoking in prior year',
       'STEROIDS in prior year',
       'Hemorrhagic stroke in an inpatient setting in prior year',
       'Non-hemorrhagic Stroke in an inpatient setting in prior year',
       'Urinary tract infectious disease in prior year',
       'Antibiotics Carbapenems in prior year',
       'Antibiotics Aminoglycosides in prior year',
       'Antibiotics Cephalosporins in prior year',
       'Antibiotics Fluoroquinolones in prior year',
       'Antibiotics Glycopeptides and lipoglycopeptides in prior year',
       'Antibiotics Macrolides in prior year',
       'Antibiotics Monobactams in prior year',
       'Antibiotics Oxazolidinones in prior year',
       'Antibiotics Penicillins in prior year',
       'Antibiotics Polypeptides in prior year',
       'Antibiotics Rifamycins in prior year',
       'Antibiotics Sulfonamides in prior year',
       'Antibiotics Streptogramins in prior year',
       'Antibiotics Tetracyclines in prior year',
       'predicted risk of Pulmonary Embolism',
       'predicted risk of Sudden Hearing Loss, No congenital anomaly or middle or inner ear conditions',
       'predicted risk of Restless Leg Syndrome',
       'predicted risk of Sudden Vision Loss, with no eye pathology causes',
       'predicted risk of Muscle weakness or injury',
       'predicted risk of Ankylosing Spondylitis',
       'predicted risk of Autoimmune hepatitis',
       'predicted risk of Multiple Sclerosis',
       'predicted risk of Acute pancreatitis, with No chronic or hereditary or common causes of pancreatitis',
       'predicted risk of Ulcerative colitis', 'predicted risk of Migraine',
       'predicted risk of Dementia',
       'predicted risk of  Treatment resistant depression (TRD)',
       'predicted risk of Parkinson's disease, inpatient or with 2nd diagnosis'],
      dtype='object')

In [261]:
# Clean dataset
# Define my program to clean my dataset.set.
def clean_cd1(copd_dataset2):

    #Drop unnessary columns that will not be needed in my analysis and keep the ones that will.
    
    columns_to_drop = ['age group:  10 -  14', 'age group:  15 -  19', 'age group:  20 -  24', 'age group:  65 -  69', 'age group:  40 -  44', 'age group:  45 -  49', 'age group:  55 -  59', 'age group:  85 -  89', 'age group:  75 -  79', 'age group:   5 -   9', 'age group:  25 -  29', 'age group:   0 -   4', 'age group:  70 -  74', 'age group:  50 -  54', 'age group:  60 -  64', 'age group:  35 -  39', 'age group:  30 -  34', 'age group:  80 -  84', 'age group:  90 -  94','Acetaminophen exposures in prior year',
       'Occurrence of Alcoholism in prior year', 'Anemia in prior year',
       'Angina events in prior year', 'ANTIEPILEPTICS in prior year',
       'Occurrence of Anxiety in prior year', 'Osteoarthritis in prior year',
       'Aspirin exposures in prior year', 'Occurrence of Asthma in prior year',
       'Atrial Fibrillation, incident in prior year',
       'HORMONAL CONTRACEPTIVES in prior year', 'Sex = FEMALE',
       'Any cancer (excl. prostate cancer and benign cancer) in prior year',
       'Acute Kidney Injury (AKI) in prior year',
       'Chronic kidney disease or end stage renal disease in prior year',
       'Major depressive disorder, with NO occurrence of certain psychiatric disorder in prior year',
       'Type 1 diabetes and no prior specific non-T1DM diabetes in prior year',
       'Type 2 Diabetes Mellitus (DM), with no type 1 or secondary DM in prior year',
       'Deep Vein Thrombosis (DVT) in prior year', 'Dyspnea in prior year',
       'Edema in prior year', 'Gastroesophageal reflux disease in prior year',
       'Acute gastrointestinal (GI) bleeding in prior year',
       'Heart valve disorder in prior year', 'Chronic hepatitis in prior year',
       'Hyperlipidemia in prior year', 'Hypertension in prior year',
       'Hypothyroidism in prior year',
       'Inflammatory Bowel Disease in prior year',
       'Low back pain in prior year', 'Occurrence of neuropathy in prior year',
       'Obesity in prior year', 'Opioids in prior year',
       'Osteoporosis in prior year',
       'Peripheral vascular disease in prior year', 'Pneumonia in prior year',
       'Psychotic disorder in prior year',
       'Acute Respiratory failure in prior year',
       'Rheumatoid Arthritis in prior year', 'Seizure in prior year',
       'Sepsis in prior year', 'Skin ulcer in prior year',
       'Sleep apnea in prior year', 'Smoking in prior year',
       'STEROIDS in prior year',
       'Hemorrhagic stroke in an inpatient setting in prior year',
       'Non-hemorrhagic Stroke in an inpatient setting in prior year',
       'Urinary tract infectious disease in prior year',
       'Antibiotics Carbapenems in prior year',
       'Antibiotics Aminoglycosides in prior year',
       'Antibiotics Cephalosporins in prior year',
       'Antibiotics Fluoroquinolones in prior year',
       'Antibiotics Glycopeptides and lipoglycopeptides in prior year',
       'Antibiotics Macrolides in prior year',
       'Antibiotics Monobactams in prior year',
       'Antibiotics Oxazolidinones in prior year',
       'Antibiotics Penicillins in prior year',
       'Antibiotics Polypeptides in prior year',
       'Antibiotics Rifamycins in prior year',
       'Antibiotics Sulfonamides in prior year',
       'Antibiotics Streptogramins in prior year',
       'Antibiotics Tetracyclines in prior year',
       'predicted risk of Pulmonary Embolism',
       'predicted risk of Sudden Hearing Loss, No congenital anomaly or middle or inner ear conditions',
       'predicted risk of Restless Leg Syndrome',
       'predicted risk of Sudden Vision Loss, with no eye pathology causes',
       'predicted risk of Muscle weakness or injury',
       'predicted risk of Ankylosing Spondylitis', 
       'predicted risk of Autoimmune hepatitis',
       'predicted risk of Multiple Sclerosis',
       'predicted risk of Acute pancreatitis, with No chronic or hereditary or common causes of pancreatitis',
       'predicted risk of Ulcerative colitis', 'predicted risk of Migraine',
       'predicted risk of Dementia',
       'predicted risk of  Treatment resistant depression (TRD)',"predicted risk of Parkinson's disease, inpatient or with 2nd diagnosis"]
   
    copd_dataset2 = copd_dataset2.drop(columns=columns_to_drop, errors = 'ignore')
    
    # Drop rows with missing values.
    copd_dataset2 = copd_dataset2.dropna()
    
    # Return the cleaned copd_dataset2
    return copd_dataset2

In [262]:
# Rename the Sex = Male column to Sex so it can be merged the Sex Column when joined in merged_copd_dataset2
copd_dataset2 = copd_dataset2.rename(columns={'Sex = MALE':'SEX'})

In [263]:
# Rename the personID to ID so I can join on this column with copd_dataset1
copd_dataset2 = copd_dataset2.rename(columns={'personId':'ID'})

In [264]:
# call my function to clean my data, drop unnecessary columns, and print out the result to make sure the 
# correct columns were cleaned and dropped.
copd_dataset2_cleaned = clean_cd1(copd_dataset2)
copd_dataset2_cleaned.head(10)

,ID,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year
0,1,0,0,0,0
1,2,1,0,0,0
2,3,1,0,0,1
3,4,1,1,0,0
4,5,1,0,1,0
5,6,1,0,0,1
6,7,0,1,0,0
7,8,0,0,0,0
8,9,0,0,0,0
9,10,1,0,0,0

In [265]:

copd_dataset2_cleaned.describe()

,ID,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,0.660000,0.240000,0.120000,0.130000
std,29.011492,0.476095,0.429235,0.326599,0.337998
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25.750000,0.000000,0.000000,0.000000,0.000000
50%,50.500000,1.000000,0.000000,0.000000,0.000000
75%,75.250000,1.000000,0.000000,0.000000,0.000000
max,100.000000,1.000000,1.000000,1.000000,1.000000

In [266]:
copd_dataset2_cleaned.columns

Index(['ID', 'SEX', 'Heart failure in prior year',
       'Chronic obstructive pulmonary disease (COPD) in prior year',
       'Coronary artery disease (CAD) in prior year'],
      dtype='object')

In [267]:
print(copd_dataset2_cleaned)

     ID  SEX  Heart failure in prior year  \
0     1    0                            0
1     2    1                            0
2     3    1                            0
3     4    1                            1
4     5    1                            0
..  ...  ...                          ...
95   96    0                            0
96   97    1                            0
97   98    1                            1
98   99    1                            0
99  100    1                            1

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   1
..                                                ...
95                                                  1
96                                                  0
97                                                  0
98                                                  0
99                                                  0

    Coronary artery disease (CAD) in prior year
0                                             0
1                                             0
2                                             1
3                                             0
4                                             0
..                                          ...
95                                            0
96                                            0
97                                            1
98                                            0
99                                            0

[100 rows x 5 columns]

In [268]:
# BEGIN MERGED DATASET 1 Joining copd_dataset1_cleaned with copd_dataset2 cleaned with a Left join on ID
merged_copd_dataset1 = pd.merge(copd_dataset1_cleaned, copd_dataset2_cleaned, on = 'ID', how= 'left')

In [269]:
# Print the first 10 rows of my merged datasets to make sure the merge was successful and there are no missing columns.
merged_copd_dataset1.head(10)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1Best,copd,smoking,IHD,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year
0,1,58,77,60.0,SEVERE,120.0,3,2,0,1.0,1.0,1.0,0.0
1,2,57,79,50.0,MODERATE,176.0,2,2,1,1.0,0.0,0.0,0.0
2,3,62,80,11.0,MODERATE,201.0,2,2,0,1.0,0.0,0.0,1.0
3,4,145,56,60.0,VERY SEVERE,210.0,4,2,0,NaN,NaN,NaN,NaN
4,5,136,65,68.0,SEVERE,210.0,3,2,0,NaN,NaN,NaN,NaN
5,6,84,67,26.0,MODERATE,216.0,2,1,0,0.0,0.0,0.0,0.0
6,7,93,67,50.0,SEVERE,237.0,3,1,0,1.0,1.0,0.0,0.0
7,8,27,83,90.0,SEVERE,237.0,3,2,0,1.0,0.0,0.0,0.0
8,9,114,72,50.0,MODERATE,237.0,2,1,0,NaN,NaN,NaN,NaN
9,10,152,75,6.0,SEVERE,240.0,3,2,0,NaN,NaN,NaN,NaN

In [270]:
print(merged_copd_dataset1)

    Unnamed: 0   ID  AGE  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  \
0            1   58   77         60.0       SEVERE     120.0     3        2
1            2   57   79         50.0     MODERATE     176.0     2        2
2            3   62   80         11.0     MODERATE     201.0     2        2
3            4  145   56         60.0  VERY SEVERE     210.0     4        2
4            5  136   65         68.0       SEVERE     210.0     3        2
..         ...  ...  ...          ...          ...       ...   ...      ...
94          96   12   72         30.0     MODERATE     558.0     2        2
95          97   10   68         25.0         MILD     575.0     1        2
96          98   43   75         40.0         MILD     577.0     1        2
97          99   74   68         30.0     MODERATE     582.0     2        2
98         100  108   54         30.0       SEVERE     699.0     3        2

    IHD  SEX  Heart failure in prior year  \
0     0  1.0                          1.0
1     1  1.0                          0.0
2     0  1.0                          0.0
3     0  NaN                          NaN
4     0  NaN                          NaN
..  ...  ...                          ...
94    1  1.0                          0.0
95    0  1.0                          0.0
96    1  1.0                          0.0
97    0  0.0                          1.0
98    0  NaN                          NaN

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                 1.0
1                                                 0.0
2                                                 0.0
3                                                 NaN
4                                                 NaN
..                                                ...
94                                                0.0
95                                                0.0
96                                                1.0
97                                                0.0
98                                                NaN

    Coronary artery disease (CAD) in prior year
0                                           0.0
1                                           0.0
2                                           1.0
3                                           NaN
4                                           NaN
..                                          ...
94                                          0.0
95                                          0.0
96                                          1.0
97                                          0.0
98                                          NaN

[99 rows x 13 columns]

In [271]:
# Test for missing values
print(merged_copd_dataset1.isnull().any().any())

True

In [272]:
# Check for empty cells (isnull) = true.
print(merged_copd_dataset1.isnull().sum)

<bound method DataFrame.sum of     Unnamed: 0     ID    AGE  PackHistory  COPDSEVERITY  MWT1Best   copd  \
0        False  False  False        False         False     False  False
1        False  False  False        False         False     False  False
2        False  False  False        False         False     False  False
3        False  False  False        False         False     False  False
4        False  False  False        False         False     False  False
..         ...    ...    ...          ...           ...       ...    ...
94       False  False  False        False         False     False  False
95       False  False  False        False         False     False  False
96       False  False  False        False         False     False  False
97       False  False  False        False         False     False  False
98       False  False  False        False         False     False  False

    smoking    IHD    SEX  Heart failure in prior year  \
0     False  False  False                        False
1     False  False  False                        False
2     False  False  False                        False
3     False  False   True                         True
4     False  False   True                         True
..      ...    ...    ...                          ...
94    False  False  False                        False
95    False  False  False                        False
96    False  False  False                        False
97    False  False  False                        False
98    False  False   True                         True

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                               False
1                                               False
2                                               False
3                                                True
4                                                True
..                                                ...
94                                              False
95                                              False
96                                              False
97                                              False
98                                               True

    Coronary artery disease (CAD) in prior year
0                                         False
1                                         False
2                                         False
3                                          True
4                                          True
..                                          ...
94                                        False
95                                        False
96                                        False
97                                        False
98                                         True

[99 rows x 13 columns]>

In [273]:
# Make sure rows did not get dropped in my cleaning process. 
merged_copd_dataset1.shape

(99, 13)

In [274]:
columns_with_NaN = merged_copd_dataset1.isna().any()
print(columns_with_NaN)

Unnamed: 0                                                    False
ID                                                            False
AGE                                                           False
PackHistory                                                   False
COPDSEVERITY                                                  False
MWT1Best                                                      False
copd                                                          False
smoking                                                       False
IHD                                                           False
SEX                                                            True
Heart failure in prior year                                    True
Chronic obstructive pulmonary disease (COPD) in prior year     True
Coronary artery disease (CAD) in prior year                    True
dtype: bool

In [275]:

def clean_cd2(merged_copd_dataset1):
    
    # Drop rows with missing values.
    merged_copd_dataset1 = merged_copd_dataset1.dropna()

    # Return the cleaned merged_copd_dataset1
    return merged_copd_dataset1

print(merged_copd_dataset1)

    Unnamed: 0   ID  AGE  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  \
0            1   58   77         60.0       SEVERE     120.0     3        2
1            2   57   79         50.0     MODERATE     176.0     2        2
2            3   62   80         11.0     MODERATE     201.0     2        2
3            4  145   56         60.0  VERY SEVERE     210.0     4        2
4            5  136   65         68.0       SEVERE     210.0     3        2
..         ...  ...  ...          ...          ...       ...   ...      ...
94          96   12   72         30.0     MODERATE     558.0     2        2
95          97   10   68         25.0         MILD     575.0     1        2
96          98   43   75         40.0         MILD     577.0     1        2
97          99   74   68         30.0     MODERATE     582.0     2        2
98         100  108   54         30.0       SEVERE     699.0     3        2

    IHD  SEX  Heart failure in prior year  \
0     0  1.0                          1.0
1     1  1.0                          0.0
2     0  1.0                          0.0
3     0  NaN                          NaN
4     0  NaN                          NaN
..  ...  ...                          ...
94    1  1.0                          0.0
95    0  1.0                          0.0
96    1  1.0                          0.0
97    0  0.0                          1.0
98    0  NaN                          NaN

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                 1.0
1                                                 0.0
2                                                 0.0
3                                                 NaN
4                                                 NaN
..                                                ...
94                                                0.0
95                                                0.0
96                                                1.0
97                                                0.0
98                                                NaN

    Coronary artery disease (CAD) in prior year
0                                           0.0
1                                           0.0
2                                           1.0
3                                           NaN
4                                           NaN
..                                          ...
94                                          0.0
95                                          0.0
96                                          1.0
97                                          0.0
98                                          NaN

[99 rows x 13 columns]

In [276]:
# call my function to clean my data, drop unnecessary rows, and print out the result to make sure the correct rows were dropped.
merged_copd_dataset1_cleaned = clean_cd2(merged_copd_dataset1)
merged_copd_dataset1_cleaned.head(10)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1Best,copd,smoking,IHD,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year
0,1,58,77,60.0,SEVERE,120.0,3,2,0,1.0,1.0,1.0,0.0
1,2,57,79,50.0,MODERATE,176.0,2,2,1,1.0,0.0,0.0,0.0
2,3,62,80,11.0,MODERATE,201.0,2,2,0,1.0,0.0,0.0,1.0
5,6,84,67,26.0,MODERATE,216.0,2,1,0,0.0,0.0,0.0,0.0
6,7,93,67,50.0,SEVERE,237.0,3,1,0,1.0,1.0,0.0,0.0
7,8,27,83,90.0,SEVERE,237.0,3,2,0,1.0,0.0,0.0,0.0
12,13,49,64,30.0,VERY SEVERE,246.0,4,2,0,1.0,0.0,0.0,0.0
13,14,80,74,75.0,MILD,270.0,1,1,0,0.0,0.0,0.0,0.0
16,17,41,69,78.0,SEVERE,273.0,3,2,0,1.0,0.0,0.0,0.0
17,18,1,55,109.0,MODERATE,281.0,2,2,0,0.0,0.0,0.0,0.0

In [277]:
# Make sure rows did not get dropped in my cleaning process. 
merged_copd_dataset1_cleaned.shape

(55, 13)

In [278]:
#Trying to find where my formatting changes from float:0 to a float:2
print(merged_copd_dataset1_cleaned)

    Unnamed: 0  ID  AGE  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  \
0            1  58   77         60.0       SEVERE     120.0     3        2
1            2  57   79         50.0     MODERATE     176.0     2        2
2            3  62   80         11.0     MODERATE     201.0     2        2
5            6  84   67         26.0     MODERATE     216.0     2        1
6            7  93   67         50.0       SEVERE     237.0     3        1
7            8  27   83         90.0       SEVERE     237.0     3        2
12          13  49   64         30.0  VERY SEVERE     246.0     4        2
13          14  80   74         75.0         MILD     270.0     1        1
16          17  41   69         78.0       SEVERE     273.0     3        2
17          18   1   55        109.0     MODERATE     281.0     2        2
21          22  48   75         40.0  VERY SEVERE     297.0     4        1
23          24  15   73         75.0       SEVERE     300.0     3        2
24          25  70   75         45.0         MILD     300.0     1        2
25          26  63   80         67.0     MODERATE     305.0     2        2
26          27  81   76         38.0       SEVERE     312.0     3        1
27          28  11   73         31.0     MODERATE     336.0     2        2
28          29  31   77         75.0     MODERATE     338.0     2        2
29          30  68   88          1.0       SEVERE     350.0     3        2
30          31  97   44         30.0       SEVERE     368.0     3        2
32          33  42   73         38.0     MODERATE     369.0     2        2
34          35  69   76         23.0     MODERATE     375.0     2        2
35          36  94   83         11.0       SEVERE     375.0     3        2
36          37  24   65         66.0     MODERATE     383.0     2        2
37          38  61   74         64.0     MODERATE     384.0     2        2
38          39  36   70         50.0       SEVERE     390.0     3        2
39          40  79   71         20.0         MILD     390.0     1        2
40          41  51   78         37.5     MODERATE     391.0     2        2
42          43  37   67         36.0     MODERATE     400.0     2        2
43          44  46   78         55.0       SEVERE     402.0     3        2
44          45  67   73         59.0     MODERATE     405.0     2        2
49          50   8   71          3.0         MILD     420.0     1        2
50          51  73   65         34.0     MODERATE     420.0     2        1
51          52  39   71         20.0         MILD     423.0     1        2
55          56   6   63         44.0       SEVERE     437.0     3        2
56          58  71   75         45.0         MILD     439.0     1        2
57          59   2   73         49.0     MODERATE     445.0     2        1
58          60  65   66         20.0         MILD     450.0     1        2
61          63  45   73        100.0       SEVERE     451.0     3        2
64          66  64   74         55.0         MILD     458.0     1        2
65          67  76   62         80.0         MILD     459.0     1        2
71          73   3   75          5.0     MODERATE     462.0     2        2
72          74  30   73         60.0     MODERATE     462.0     2        2
73          75  54   78         30.0       SEVERE     465.0     3        2
77          79  34   63         50.0     MODERATE     476.0     2        2
78          80  78   65          6.0         MILD     480.0     1        2
79          81  18   65         20.0         MILD     480.0     1        2
80          82  52   62          8.0     MODERATE     480.0     2        2
83          85  92   72         75.0       SEVERE     492.0     3        2
84          86  87   61          9.0     MODERATE     496.0     2        1
85          87  16   60         10.0     MODERATE     498.0     2        2
87          89  90   67         20.0     MODERATE     505.0     2        2
94          96  12   72         30.0     MODERATE     558.0     2        2
95          97  10   68         25.0         MILD     575.0     1        2
96          98  43   75         40.0         MILD     577.0     1        2
97          99  74   68         30.0     MODERATE     582.0     2        2

    IHD  SEX  Heart failure in prior year  \
0     0  1.0                          1.0
1     1  1.0                          0.0
2     0  1.0                          0.0
5     0  0.0                          0.0
6     0  1.0                          1.0
7     0  1.0                          0.0
12    0  1.0                          0.0
13    0  0.0                          0.0
16    0  1.0                          0.0
17    0  0.0                          0.0
21    0  1.0                          0.0
23    0  1.0                          0.0
24    0  1.0                          0.0
25    0  1.0                          1.0
26    0  0.0                          0.0
27    0  1.0                          1.0
28    0  1.0                          1.0
29    1  0.0                          0.0
30    0  1.0                          0.0
32    1  1.0                          1.0
34    0  1.0                          0.0
35    0  1.0                          0.0
36    0  0.0                          0.0
37    0  0.0                          0.0
38    0  0.0                          0.0
39    0  1.0                          0.0
40    0  1.0                          1.0
42    1  0.0                          0.0
43    0  0.0                          0.0
44    0  0.0                          1.0
49    0  0.0                          0.0
50    0  1.0                          1.0
51    0  1.0                          0.0
55    0  1.0                          0.0
56    0  0.0                          0.0
57    0  1.0                          0.0
58    0  0.0                          0.0
61    0  0.0                          0.0
64    0  1.0                          0.0
65    0  0.0                          0.0
71    0  1.0                          0.0
72    1  1.0                          1.0
73    0  0.0                          0.0
77    0  1.0                          0.0
78    0  1.0                          1.0
79    0  1.0                          0.0
80    0  1.0                          1.0
83    0  1.0                          0.0
84    0  1.0                          0.0
85    0  0.0                          0.0
87    0  1.0                          0.0
94    1  1.0                          0.0
95    0  1.0                          0.0
96    1  1.0                          0.0
97    0  0.0                          1.0

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                 1.0
1                                                 0.0
2                                                 0.0
5                                                 0.0
6                                                 0.0
7                                                 0.0
12                                                0.0
13                                                0.0
16                                                0.0
17                                                0.0
21                                                0.0
23                                                0.0
24                                                0.0
25                                                0.0
26                                                0.0
27                                                1.0
28                                                0.0
29                                                0.0
30                                                0.0
32                                                0.0
34                                                0.0
35                                                0.0
36                                                0.0
37                                                0.0
38                                                1.0
39                                                0.0
40                                                0.0
42                                                0.0
43                                                0.0
44                                                0.0
49                                                0.0
50                                                0.0
51                                                0.0
55                                                0.0
56                                                0.0
57                                                0.0
58                                                0.0
61                                                0.0
64                                                0.0
65                                                1.0
71                                                0.0
72                                                0.0
73                                                0.0
77                                                0.0
78                                                0.0
79                                                0.0
80                                                1.0
83                                                0.0
84                                                0.0
85                                                0.0
87                                                0.0
94                                                0.0
95                                                0.0
96                                                1.0
97                                                0.0

    Coronary artery disease (CAD) in prior year
0                                           0.0
1                                           0.0
2                                           1.0
5                                           0.0
6                                           0.0
7                                           0.0
12                                          0.0
13                                          0.0
16                                          0.0
17                                          0.0
21                                          0.0
23                                          1.0
24                                          0.0
25                                          0.0
26                                          0.0
27                                          0.0
28                                          0.0
29                                          0.0
30                                          0.0
32                                          0.0
34                                          0.0
35                                          0.0
36                                          1.0
37                                          0.0
38                                          1.0
39                                          0.0
40                                          0.0
42                                          0.0
43                                          0.0
44                                          0.0
49                                          0.0
50                                          0.0
51                                          0.0
55                                          1.0
56                                          0.0
57                                          0.0
58                                          0.0
61                                          0.0
64                                          0.0
65                                          0.0
71                                          1.0
72                                          0.0
73                                          0.0
77                                          0.0
78                                          1.0
79                                          0.0
80                                          0.0
83                                          0.0
84                                          0.0
85                                          0.0
87                                          0.0
94                                          0.0
95                                          0.0
96                                          1.0
97                                          0.0

In [279]:
merged_copd_dataset1_cleaned.describe()

,Unnamed: 0,ID,AGE,PackHistory,MWT1Best,copd,smoking,IHD,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,47.727273,50.618182,70.927273,41.972727,389.400000,2.109091,1.854545,0.127273,0.654545,0.236364,0.109091,0.145455
std,28.598404,27.710468,7.465611,25.793054,104.989876,0.809040,0.355808,0.336350,0.479899,0.428764,0.314627,0.355808
min,1.000000,1.000000,44.000000,1.000000,120.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.500000,30.500000,66.500000,21.500000,308.500000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43.000000,52.000000,73.000000,38.000000,400.000000,2.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,73.500000,72.000000,75.000000,59.500000,462.000000,3.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,99.000000,97.000000,88.000000,109.000000,582.000000,4.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [280]:
# DATASET 3 STARTS HERE

In [281]:
# Import my third dataset from Kaggle after unzipping the dataset in my Project folder
copd_dataset3 = pd.read_csv('respiratory symptoms and treatment.csv')

In [282]:
#Display the first 10 rows of the 3rd dataset to see the column names and data in the columns
copd_dataset3.head(10)

                     Symptoms   Age     Sex Disease    Treatment  Nature
0                   coughing    5.0  female  Asthma   Omalizumab    high
1  tight feeling in the chest   4.0  female  Asthma  Mepolizumab    high
2                    wheezing   6.0    male  Asthma  Mepolizumab    high
3         shortness of breath   7.0    male  Asthma  Mepolizumab    high
4         shortness of breath   9.0    male  Asthma  Mepolizumab    high
5  tight feeling in the chest   NaN    male  Asthma  Mepolizumab    high
6         shortness of breath   NaN    male  Asthma  Mepolizumab    high
7  tight feeling in the chest   8.0  female  Asthma  Mepolizumab    high
8         shortness of breath  36.0  female  Asthma  Mepolizumab  medium
9                    wheezing  40.0  female  Asthma   Omalizumab  medium

In [283]:
#Test for missing values.
print(copd_dataset3.isnull().any().any())

True

In [284]:
# Check for empty cells (isnull) = true.
print(copd_dataset3.isnull().sum)

<bound method DataFrame.sum of        Symptoms    Age    Sex  Disease  Treatment  Nature
0         False  False  False    False      False   False
1         False  False  False    False      False   False
2         False  False  False    False      False   False
3         False  False  False    False      False   False
4         False  False  False    False      False   False
...         ...    ...    ...      ...        ...     ...
38532     False  False  False    False      False   False
38533     False  False  False    False      False   False
38534     False  False  False    False      False   False
38535     False  False  False    False      False   False
38536     False  False  False    False      False   False

[38537 rows x 6 columns]>

In [ ]:
#Drop rows where isnull = True.  Found by using Google.  Forgot to get the author to give credit. 
if copd_dataset3.isnull().any().any():
    copd_dataset3 = copd_dataset3.dropna()  
    print("Rows with NaN values = True have been dropped.")
else:
    print("No missing values found.")
# On the first run, receive "Rows with isnull values have been dropped".  
# On the second time run, it says "No missing vaules found"

Rows with NaN values = True have been dropped.

In [286]:
#Reset the index after null values have been dropped
copd_dataset3 = copd_dataset3.dropna().reset_index(drop=True)

In [287]:
#Get column names for preparation to drop unnecessary columns
copd_dataset3.columns

Index(['Symptoms', 'Age', 'Sex', 'Disease', 'Treatment', 'Nature'], dtype='object')

In [288]:
#get a picture of the Disease column
copd_dataset3['Disease'].value_counts

<bound method IndexOpsMixin.value_counts of 0              Asthma
1              Asthma
2              Asthma
3              Asthma
4              Asthma
             ...
32719    Tuberculosis
32720    Tuberculosis
32721    Tuberculosis
32722    Tuberculosis
32723    Tuberculosis
Name: Disease, Length: 32724, dtype: object>

In [302]:
#get a picture of the Age column
copd_dataset3['Age'].value_counts

<bound method IndexOpsMixin.value_counts of 0         5.0
1         4.0
2         6.0
3         7.0
4         9.0
         ...
32719    45.0
32720    43.0
32721    41.0
32722    53.0
32723    63.0
Name: Age, Length: 32724, dtype: float64>

In [303]:
#Clean dataset(s) 
#Define my program to clean my dataset.
def clean_cd3(copd_dataset3):

   # Drop unnecessary columns that will not be needed in my analysis.
   cols_to_drop = ['Nature']
   copd_dataset3 = copd_dataset3.drop(columns = cols_to_drop)

   # Drop rows unnecessary rows
   copd_dataset3 = copd_dataset3.dropna()

   return copd_dataset3

In [291]:

# call my function to clean my data, drop unnecessary columns, and print out the result to make sure the 
# correct columns were cleaned and dropped.
copd_dataset3_cleaned = clean_cd3(copd_dataset3)
copd_dataset3_cleaned.head(10)

                     Symptoms   Age     Sex Disease    Treatment
0                   coughing    5.0  female  Asthma   Omalizumab
1  tight feeling in the chest   4.0  female  Asthma  Mepolizumab
2                    wheezing   6.0    male  Asthma  Mepolizumab
3         shortness of breath   7.0    male  Asthma  Mepolizumab
4         shortness of breath   9.0    male  Asthma  Mepolizumab
5  tight feeling in the chest   8.0  female  Asthma  Mepolizumab
6         shortness of breath  36.0  female  Asthma  Mepolizumab
7                    wheezing  40.0  female  Asthma   Omalizumab
8                    coughing  46.0  female  Asthma   Omalizumab
9         shortness of breath  56.0  female  Asthma   Omalizumab

In [292]:
copd_dataset3_cleaned.columns

Index(['Symptoms', 'Age', 'Sex', 'Disease', 'Treatment'], dtype='object')

In [293]:
copd_dataset3_cleaned.describe()

                Age
count  32724.000000
mean      37.873579
std       27.763902
min        1.000000
25%       12.000000
50%       33.000000
75%       63.000000
max       98.000000

In [294]:
# Merge merged_copd_dataset1 with copd_dataset3 using concat based on the Index column
# Merge the 2 different Age columns from the datasets based on the index column and combine all rows from both datasets with concat
merged_copd_dataset2 = pd.concat([merged_copd_dataset1_cleaned, copd_dataset3_cleaned], axis = 1)

merged_copd_dataset2['Ages'] = merged_copd_dataset2[['AGE','Age']].bfill(axis = 1).iloc[:,0].astype(int)
merged_copd_dataset2.drop(columns=['AGE','Age'], inplace=True)


print(merged_copd_dataset2)

       Unnamed: 0    ID  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  \
0             1.0  58.0         60.0       SEVERE     120.0   3.0      2.0
1             2.0  57.0         50.0     MODERATE     176.0   2.0      2.0
2             3.0  62.0         11.0     MODERATE     201.0   2.0      2.0
5             6.0  84.0         26.0     MODERATE     216.0   2.0      1.0
6             7.0  93.0         50.0       SEVERE     237.0   3.0      1.0
...           ...   ...          ...          ...       ...   ...      ...
32719         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32720         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32721         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32722         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32723         NaN   NaN          NaN          NaN       NaN   NaN      NaN

       IHD  SEX  Heart failure in prior year  \
0      0.0  1.0                          1.0
1      1.0  1.0                          0.0
2      0.0  1.0                          0.0
5      0.0  0.0                          0.0
6      0.0  1.0                          1.0
...    ...  ...                          ...
32719  NaN  NaN                          NaN
32720  NaN  NaN                          NaN
32721  NaN  NaN                          NaN
32722  NaN  NaN                          NaN
32723  NaN  NaN                          NaN

       Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                    1.0
1                                                    0.0
2                                                    0.0
5                                                    0.0
6                                                    0.0
...                                                  ...
32719                                                NaN
32720                                                NaN
32721                                                NaN
32722                                                NaN
32723                                                NaN

       Coronary artery disease (CAD) in prior year  \
0                                              0.0
1                                              0.0
2                                              1.0
5                                              0.0
6                                              0.0
...                                            ...
32719                                          NaN
32720                                          NaN
32721                                          NaN
32722                                          NaN
32723                                          NaN

                                             Symptoms     Sex       Disease  \
0                                           coughing   female        Asthma
1                          tight feeling in the chest  female        Asthma
2                                            wheezing    male        Asthma
5                          tight feeling in the chest  female        Asthma
6                                 shortness of breath  female        Asthma
...                                               ...     ...           ...
32719        A cough that lasts more than three weeks  female  Tuberculosis
32720  Loss of appetite and unintentional weight loss  female  Tuberculosis
32721                                           Fever  female  Tuberculosis
32722                                          Chills  female  Tuberculosis
32723                                    Night sweats  female  Tuberculosis

         Treatment  Ages
0       Omalizumab    77
1      Mepolizumab    79
2      Mepolizumab    80
5      Mepolizumab    67
6      Mepolizumab    67
...            ...   ...
32719   ethambutol    45
32720   ethambutol    43
32721   ethambutol    41
32722   ethambutol    53
32723   ethambutol    63

[32724 rows x 17 columns]

In [295]:
print(merged_copd_dataset2)

       Unnamed: 0    ID  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  \
0             1.0  58.0         60.0       SEVERE     120.0   3.0      2.0
1             2.0  57.0         50.0     MODERATE     176.0   2.0      2.0
2             3.0  62.0         11.0     MODERATE     201.0   2.0      2.0
5             6.0  84.0         26.0     MODERATE     216.0   2.0      1.0
6             7.0  93.0         50.0       SEVERE     237.0   3.0      1.0
...           ...   ...          ...          ...       ...   ...      ...
32719         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32720         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32721         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32722         NaN   NaN          NaN          NaN       NaN   NaN      NaN
32723         NaN   NaN          NaN          NaN       NaN   NaN      NaN

       IHD  SEX  Heart failure in prior year  \
0      0.0  1.0                          1.0
1      1.0  1.0                          0.0
2      0.0  1.0                          0.0
5      0.0  0.0                          0.0
6      0.0  1.0                          1.0
...    ...  ...                          ...
32719  NaN  NaN                          NaN
32720  NaN  NaN                          NaN
32721  NaN  NaN                          NaN
32722  NaN  NaN                          NaN
32723  NaN  NaN                          NaN

       Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                    1.0
1                                                    0.0
2                                                    0.0
5                                                    0.0
6                                                    0.0
...                                                  ...
32719                                                NaN
32720                                                NaN
32721                                                NaN
32722                                                NaN
32723                                                NaN

       Coronary artery disease (CAD) in prior year  \
0                                              0.0
1                                              0.0
2                                              1.0
5                                              0.0
6                                              0.0
...                                            ...
32719                                          NaN
32720                                          NaN
32721                                          NaN
32722                                          NaN
32723                                          NaN

                                             Symptoms     Sex       Disease  \
0                                           coughing   female        Asthma
1                          tight feeling in the chest  female        Asthma
2                                            wheezing    male        Asthma
5                          tight feeling in the chest  female        Asthma
6                                 shortness of breath  female        Asthma
...                                               ...     ...           ...
32719        A cough that lasts more than three weeks  female  Tuberculosis
32720  Loss of appetite and unintentional weight loss  female  Tuberculosis
32721                                           Fever  female  Tuberculosis
32722                                          Chills  female  Tuberculosis
32723                                    Night sweats  female  Tuberculosis

         Treatment  Ages
0       Omalizumab    77
1      Mepolizumab    79
2      Mepolizumab    80
5      Mepolizumab    67
6      Mepolizumab    67
...            ...   ...
32719   ethambutol    45
32720   ethambutol    43
32721   ethambutol    41
32722   ethambutol    53
32723   ethambutol    63

[32724 rows x 17 columns]

In [296]:

# Rename the Unnamed: 0 = Index column to Sex so it can be merged the Sex Column when joined in merged_copd_dataset2
merged_copd_dataset2 = merged_copd_dataset2.rename(columns={'Unnamed: 0':'Index'})

In [297]:
merged_copd_dataset2.columns

Index(['Index', 'ID', 'PackHistory', 'COPDSEVERITY', 'MWT1Best', 'copd',
       'smoking', 'IHD', 'SEX', 'Heart failure in prior year',
       'Chronic obstructive pulmonary disease (COPD) in prior year',
       'Coronary artery disease (CAD) in prior year', 'Symptoms', 'Sex',
       'Disease', 'Treatment', 'Ages'],
      dtype='object')

In [298]:
#Clean dataset(s) 
#Define my program to clean my dataset.
def clean_cd4(merged_copd_dataset2):

   #Drop rows with missing values.
   merged_copd_dataset2 = merged_copd_dataset2.dropna()

   return merged_copd_dataset2
#print(merged_copd_dataset2)

In [299]:
# call my function to clean my data, drop unnecessary columns, and print out the result to make sure the 
# correct columns were cleaned and dropped.
merged_copd_dataset2_cleaned = clean_cd4(merged_copd_dataset2)
merged_copd_dataset2_cleaned.head(10)

,Index,ID,PackHistory,COPDSEVERITY,MWT1Best,copd,smoking,IHD,SEX,Heart failure in prior year,Chronic obstructive pulmonary disease (COPD) in prior year,Coronary artery disease (CAD) in prior year,Symptoms,Sex,Disease,Treatment,Ages
0,1.0,58.0,60.0,SEVERE,120.0,3.0,2.0,0.0,1.0,1.0,1.0,0.0,coughing,female,Asthma,Omalizumab,77
1,2.0,57.0,50.0,MODERATE,176.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,tight feeling in the chest,female,Asthma,Mepolizumab,79
2,3.0,62.0,11.0,MODERATE,201.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,wheezing,male,Asthma,Mepolizumab,80
5,6.0,84.0,26.0,MODERATE,216.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,tight feeling in the chest,female,Asthma,Mepolizumab,67
6,7.0,93.0,50.0,SEVERE,237.0,3.0,1.0,0.0,1.0,1.0,0.0,0.0,shortness of breath,female,Asthma,Mepolizumab,67
7,8.0,27.0,90.0,SEVERE,237.0,3.0,2.0,0.0,1.0,0.0,0.0,0.0,wheezing,female,Asthma,Omalizumab,83
12,13.0,49.0,30.0,VERY SEVERE,246.0,4.0,2.0,0.0,1.0,0.0,0.0,0.0,coughing,male,Asthma,Omalizumab,64
13,14.0,80.0,75.0,MILD,270.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,shortness of breath,male,Asthma,Mepolizumab,74
16,17.0,41.0,78.0,SEVERE,273.0,3.0,2.0,0.0,1.0,0.0,0.0,0.0,shortness of breath,female,Asthma,itraconazole,69
17,18.0,1.0,109.0,MODERATE,281.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,shortness of breath,female,Asthma,inhaler,55

In [300]:
#Reset the index after null values have been dropped
merged_copd_dataset2 = merged_copd_dataset2.dropna().reset_index(drop=True)

In [301]:

print(merged_copd_dataset2_cleaned)

    Index    ID  PackHistory COPDSEVERITY  MWT1Best  copd  smoking  IHD  SEX  \
0     1.0  58.0         60.0       SEVERE     120.0   3.0      2.0  0.0  1.0
1     2.0  57.0         50.0     MODERATE     176.0   2.0      2.0  1.0  1.0
2     3.0  62.0         11.0     MODERATE     201.0   2.0      2.0  0.0  1.0
5     6.0  84.0         26.0     MODERATE     216.0   2.0      1.0  0.0  0.0
6     7.0  93.0         50.0       SEVERE     237.0   3.0      1.0  0.0  1.0
7     8.0  27.0         90.0       SEVERE     237.0   3.0      2.0  0.0  1.0
12   13.0  49.0         30.0  VERY SEVERE     246.0   4.0      2.0  0.0  1.0
13   14.0  80.0         75.0         MILD     270.0   1.0      1.0  0.0  0.0
16   17.0  41.0         78.0       SEVERE     273.0   3.0      2.0  0.0  1.0
17   18.0   1.0        109.0     MODERATE     281.0   2.0      2.0  0.0  0.0
21   22.0  48.0         40.0  VERY SEVERE     297.0   4.0      1.0  0.0  1.0
23   24.0  15.0         75.0       SEVERE     300.0   3.0      2.0  0.0  1.0
24   25.0  70.0         45.0         MILD     300.0   1.0      2.0  0.0  1.0
25   26.0  63.0         67.0     MODERATE     305.0   2.0      2.0  0.0  1.0
26   27.0  81.0         38.0       SEVERE     312.0   3.0      1.0  0.0  0.0
27   28.0  11.0         31.0     MODERATE     336.0   2.0      2.0  0.0  1.0
28   29.0  31.0         75.0     MODERATE     338.0   2.0      2.0  0.0  1.0
29   30.0  68.0          1.0       SEVERE     350.0   3.0      2.0  1.0  0.0
30   31.0  97.0         30.0       SEVERE     368.0   3.0      2.0  0.0  1.0
32   33.0  42.0         38.0     MODERATE     369.0   2.0      2.0  1.0  1.0
34   35.0  69.0         23.0     MODERATE     375.0   2.0      2.0  0.0  1.0
35   36.0  94.0         11.0       SEVERE     375.0   3.0      2.0  0.0  1.0
36   37.0  24.0         66.0     MODERATE     383.0   2.0      2.0  0.0  0.0
37   38.0  61.0         64.0     MODERATE     384.0   2.0      2.0  0.0  0.0
38   39.0  36.0         50.0       SEVERE     390.0   3.0      2.0  0.0  0.0
39   40.0  79.0         20.0         MILD     390.0   1.0      2.0  0.0  1.0
40   41.0  51.0         37.5     MODERATE     391.0   2.0      2.0  0.0  1.0
42   43.0  37.0         36.0     MODERATE     400.0   2.0      2.0  1.0  0.0
43   44.0  46.0         55.0       SEVERE     402.0   3.0      2.0  0.0  0.0
44   45.0  67.0         59.0     MODERATE     405.0   2.0      2.0  0.0  0.0
49   50.0   8.0          3.0         MILD     420.0   1.0      2.0  0.0  0.0
50   51.0  73.0         34.0     MODERATE     420.0   2.0      1.0  0.0  1.0
51   52.0  39.0         20.0         MILD     423.0   1.0      2.0  0.0  1.0
55   56.0   6.0         44.0       SEVERE     437.0   3.0      2.0  0.0  1.0
56   58.0  71.0         45.0         MILD     439.0   1.0      2.0  0.0  0.0
57   59.0   2.0         49.0     MODERATE     445.0   2.0      1.0  0.0  1.0
58   60.0  65.0         20.0         MILD     450.0   1.0      2.0  0.0  0.0
61   63.0  45.0        100.0       SEVERE     451.0   3.0      2.0  0.0  0.0
64   66.0  64.0         55.0         MILD     458.0   1.0      2.0  0.0  1.0
65   67.0  76.0         80.0         MILD     459.0   1.0      2.0  0.0  0.0
71   73.0   3.0          5.0     MODERATE     462.0   2.0      2.0  0.0  1.0
72   74.0  30.0         60.0     MODERATE     462.0   2.0      2.0  1.0  1.0
73   75.0  54.0         30.0       SEVERE     465.0   3.0      2.0  0.0  0.0
77   79.0  34.0         50.0     MODERATE     476.0   2.0      2.0  0.0  1.0
78   80.0  78.0          6.0         MILD     480.0   1.0      2.0  0.0  1.0
79   81.0  18.0         20.0         MILD     480.0   1.0      2.0  0.0  1.0
80   82.0  52.0          8.0     MODERATE     480.0   2.0      2.0  0.0  1.0
83   85.0  92.0         75.0       SEVERE     492.0   3.0      2.0  0.0  1.0
84   86.0  87.0          9.0     MODERATE     496.0   2.0      1.0  0.0  1.0
85   87.0  16.0         10.0     MODERATE     498.0   2.0      2.0  0.0  0.0
87   89.0  90.0         20.0     MODERATE     505.0   2.0      2.0  0.0  1.0
94   96.0  12.0         30.0     MODERATE     558.0   2.0      2.0  1.0  1.0
95   97.0  10.0         25.0         MILD     575.0   1.0      2.0  0.0  1.0
96   98.0  43.0         40.0         MILD     577.0   1.0      2.0  1.0  1.0
97   99.0  74.0         30.0     MODERATE     582.0   2.0      2.0  0.0  0.0

    Heart failure in prior year  \
0                           1.0
1                           0.0
2                           0.0
5                           0.0
6                           1.0
7                           0.0
12                          0.0
13                          0.0
16                          0.0
17                          0.0
21                          0.0
23                          0.0
24                          0.0
25                          1.0
26                          0.0
27                          1.0
28                          1.0
29                          0.0
30                          0.0
32                          1.0
34                          0.0
35                          0.0
36                          0.0
37                          0.0
38                          0.0
39                          0.0
40                          1.0
42                          0.0
43                          0.0
44                          1.0
49                          0.0
50                          1.0
51                          0.0
55                          0.0
56                          0.0
57                          0.0
58                          0.0
61                          0.0
64                          0.0
65                          0.0
71                          0.0
72                          1.0
73                          0.0
77                          0.0
78                          1.0
79                          0.0
80                          1.0
83                          0.0
84                          0.0
85                          0.0
87                          0.0
94                          0.0
95                          0.0
96                          0.0
97                          1.0

    Chronic obstructive pulmonary disease (COPD) in prior year  \
0                                                 1.0
1                                                 0.0
2                                                 0.0
5                                                 0.0
6                                                 0.0
7                                                 0.0
12                                                0.0
13                                                0.0
16                                                0.0
17                                                0.0
21                                                0.0
23                                                0.0
24                                                0.0
25                                                0.0
26                                                0.0
27                                                1.0
28                                                0.0
29                                                0.0
30                                                0.0
32                                                0.0
34                                                0.0
35                                                0.0
36                                                0.0
37                                                0.0
38                                                1.0
39                                                0.0
40                                                0.0
42                                                0.0
43                                                0.0
44                                                0.0
49                                                0.0
50                                                0.0
51                                                0.0
55                                                0.0
56                                                0.0
57                                                0.0
58                                                0.0
61                                                0.0
64                                                0.0
65                                                1.0
71                                                0.0
72                                                0.0
73                                                0.0
77                                                0.0
78                                                0.0
79                                                0.0
80                                                1.0
83                                                0.0
84                                                0.0
85                                                0.0
87                                                0.0
94                                                0.0
95                                                0.0
96                                                1.0
97                                                0.0

    Coronary artery disease (CAD) in prior year  \
0                                           0.0
1                                           0.0
2                                           1.0
5                                           0.0
6                                           0.0
7                                           0.0
12                                          0.0
13                                          0.0
16                                          0.0
17                                          0.0
21                                          0.0
23                                          1.0
24                                          0.0
25                                          0.0
26                                          0.0
27                                          0.0
28                                          0.0
29                                          0.0
30                                          0.0
32                                          0.0
34                                          0.0
35                                          0.0
36                                          1.0
37                                          0.0
38                                          1.0
39                                          0.0
40                                          0.0
42                                          0.0
43                                          0.0
44                                          0.0
49                                          0.0
50                                          0.0
51                                          0.0
55                                          1.0
56                                          0.0
57                                          0.0
58                                          0.0
61                                          0.0
64                                          0.0
65                                          0.0
71                                          1.0
72                                          0.0
73                                          0.0
77                                          0.0
78                                          1.0
79                                          0.0
80                                          0.0
83                                          0.0
84                                          0.0
85                                          0.0
87                                          0.0
94                                          0.0
95                                          0.0
96                                          1.0
97                                          0.0

                                             Symptoms         Sex  \
0                                           coughing       female
1                          tight feeling in the chest      female
2                                            wheezing        male
5                          tight feeling in the chest      female
6                                 shortness of breath      female
7                                            wheezing      female
12                                           coughing        male
13                                shortness of breath        male
16                                shortness of breath      female
17                                shortness of breath      female
21                                              fever      female
23                                              fever      female
24                                               cold      female
25                                               cold        male
26                                shortness of breath        male
27                                shortness of breath        male
28                                           wheezing      female
29                                               cold      female
30                                           coughing      female
32                                            allergy        male
34                                            allergy      female
35                                           wheezing      female
36                                              fever        male
37                                            allergy        male
38            Coughing up yellow or green mucus daily        male
39  Shortness of breath that gets worse during fla...        male
40                 Fatigue, feeling run-down or tired        male
42            Coughing up yellow or green mucus daily        male
43                 Fatigue, feeling run-down or tired      female
44  Shortness of breath that gets worse during fla...      female
49            Coughing up yellow or green mucus daily        male
50                 Fatigue, feeling run-down or tired        male
51                 Fatigue, feeling run-down or tired      female
55            Coughing up yellow or green mucus daily      female
56  Shortness of breath that gets worse during fla...      female
57                 Fatigue, feeling run-down or tired      female
58                 Fatigue, feeling run-down or tired        male
61            Coughing up yellow or green mucus daily        male
64            Coughing up yellow or green mucus daily      female
65                  whistling sound while you breathe  not to say
71                                           Wheezing      female
72                                           Wheezing        male
73  Shortness of breath that gets worse during fla...        male
77                                           Wheezing      female
78                  whistling sound while you breathe      female
79                  whistling sound while you breathe      female
80                                           Wheezing        male
83                  whistling sound while you breathe      female
84  Shortness of breath that gets worse during fla...      female
85                                         Chest pain      female
87                                         Chest pain        male
94                                  Coughing up blood      female
95                                  Coughing up blood      female
96                                  Coughing up blood      female
97                                  Coughing up blood      female

           Disease                              Treatment  Ages
0           Asthma                             Omalizumab    77
1           Asthma                            Mepolizumab    79
2           Asthma                            Mepolizumab    80
5           Asthma                            Mepolizumab    67
6           Asthma                            Mepolizumab    67
7           Asthma                             Omalizumab    83
12          Asthma                             Omalizumab    64
13          Asthma                            Mepolizumab    74
16          Asthma                           itraconazole    69
17          Asthma                                inhaler    55
21          Asthma                             Omalizumab    75
23          Asthma                            Mepolizumab    73
24          Asthma                                inhaler    75
25          Asthma                                inhaler    80
26          Asthma                                inhaler    76
27          Asthma                                inhaler    73
28          Asthma                                inhaler    77
29          Asthma                                inhaler    88
30          Asthma                            Mepolizumab    44
32          Asthma                                inhaler    73
34          Asthma                                inhaler    76
35          Asthma                                inhaler    83
36          Asthma                            Mepolizumab    65
37          Asthma                            Mepolizumab    74
38  Bronchiectasis                            antibiotics    70
39  Bronchiectasis                            antibiotics    71
40  Bronchiectasis                            antibiotics    78
42  Bronchiectasis                            antibiotics    67
43  Bronchiectasis                            antibiotics    78
44  Bronchiectasis                            antibiotics    73
49  Bronchiectasis                            antibiotics    71
50  Bronchiectasis                            antibiotics    65
51  Bronchiectasis                            antibiotics    71
55  Bronchiectasis                            antibiotics    63
56  Bronchiectasis                            antibiotics    75
57  Bronchiectasis                            antibiotics    73
58  Bronchiectasis                            antibiotics    66
61  Bronchiectasis                      hypertonic saline    73
64  Bronchiectasis                      hypertonic saline    74
65  Bronchiectasis                      hypertonic saline    62
71  Bronchiectasis                      hypertonic saline    75
72  Bronchiectasis                      hypertonic saline    73
73  Bronchiectasis                      hypertonic saline    78
77  Bronchiectasis                      hypertonic saline    63
78  Bronchiectasis                      hypertonic saline    65
79  Bronchiectasis                      hypertonic saline    65
80  Bronchiectasis                      hypertonic saline    62
83  Bronchiectasis                      hypertonic saline    72
84  Bronchiectasis                      hypertonic saline    61
85  Bronchiectasis                      hypertonic saline    60
87  Bronchiectasis                      hypertonic saline    67
94  Bronchiectasis  Intrapulmonary Percussive Ventilation    72
95  Bronchiectasis  Intrapulmonary Percussive Ventilation    68
96  Bronchiectasis  Intrapulmonary Percussive Ventilation    75
97  Bronchiectasis  Intrapulmonary Percussive Ventilation    68