In [19]:
#Following is a Project in Data Analysis using Pandas. 
#My main question for this project is, "How does number smoking, age and other medical issues affect COPD?" 
#I am using several datasets including dataset.csv,        to extract data to support my findings.

In [20]:
#Import my pandas library modules and submodule pyplot 

import pandas as pd 
import numpy as np 
import matplotlib
import matplotlib.pyplot as plt

In [21]:
#Import my first COPD dataset from Kaggle after moving and unzipping the dataset in my project folder
copd_dataset1 = pd.read_csv('dataset.csv')

In [22]:
#Display the first 10 rows of the dataset to see the column names and data in the columns
copd_dataset1.head(10)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1,MWT2,MWT1Best,FEV1,FEV1PRED,...,SGRQ,AGEquartiles,copd,gender,smoking,Diabetes,muscular,hypertension,AtrialFib,IHD
0,1,58,77,60.00,SEVERE,120.00,120.00,120.00,1.21,36.00,...,69.55,4,3,1,2,1,0,0,1,0
1,2,57,79,50.00,MODERATE,165.00,176.00,176.00,1.09,56.00,...,44.24,4,2,0,2,1,0,0,1,1
2,3,62,80,11.00,MODERATE,201.00,180.00,201.00,1.52,68.00,...,44.09,4,2,0,2,1,0,0,1,0
3,4,145,56,60.00,VERY SEVERE,210.00,210.00,210.00,0.47,14.00,...,62.04,1,4,1,2,0,0,1,1,0
4,5,136,65,68.00,SEVERE,204.00,210.00,210.00,1.07,42.00,...,75.56,1,3,1,2,0,1,1,0,0
5,6,84,67,26.00,MODERATE,216.00,180.00,216.00,1.09,50.00,...,73.82,2,2,0,1,1,0,0,1,0
6,7,93,67,50.00,SEVERE,214.00,237.00,237.00,0.69,35.00,...,77.44,2,3,0,1,1,0,0,1,0
7,8,27,83,90.00,SEVERE,214.00,237.00,237.00,0.68,32.00,...,45.41,4,3,1,2,1,0,0,1,0
8,9,114,72,50.00,MODERATE,231.00,237.00,237.00,2.13,63.00,...,69.61,3,2,1,1,1,0,0,1,0
9,10,152,75,6.00,SEVERE,226.00,240.00,240.00,1.06,46.00,...,55.56,3,3,0,2,0,1,0,0,0

In [23]:
#Displaying the size of the data set and data types of the data in each column
copd_dataset1_shape = copd_dataset1.shape
print(f'The Dataframe has {copd_dataset1_shape[0]} rows and {copd_dataset1_shape[1]} columns! \n')
print(copd_dataset1.info())

The Dataframe has 101 rows and 24 columns!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    101 non-null    int64
 1   ID            101 non-null    int64
 2   AGE           101 non-null    int64
 3   PackHistory   101 non-null    float64
 4   COPDSEVERITY  101 non-null    object
 5   MWT1          99 non-null     float64
 6   MWT2          100 non-null    float64
 7   MWT1Best      100 non-null    float64
 8   FEV1          101 non-null    float64
 9   FEV1PRED      101 non-null    float64
 10  FVC           101 non-null    float64
 11  FVCPRED       101 non-null    int64
 12  CAT           101 non-null    int64
 13  HAD           101 non-null    float64
 14  SGRQ          101 non-null    float64
 15  AGEquartiles  101 non-null    int64
 16  copd          101 non-null    int64
 17  gender        101 non-null    int64
 18  smoking       101 non-null    int64
 19  Diabetes      101 non-null    int64
 20  muscular      101 non-null    int64
 21  hypertension  101 non-null    int64
 22  AtrialFib     101 non-null    int64
 23  IHD           101 non-null    int64
dtypes: float64(9), int64(14), object(1)
memory usage: 19.1+ KB
None

In [ ]:
#Test for missing values 
print(copd_dataset1.isnull().any().any())

True

In [25]:

print(copd_dataset1.isnull().sum)

<bound method DataFrame.sum of      Unnamed: 0     ID    AGE  PackHistory  COPDSEVERITY   MWT1   MWT2  \
0         False  False  False        False         False  False  False
1         False  False  False        False         False  False  False
2         False  False  False        False         False  False  False
3         False  False  False        False         False  False  False
4         False  False  False        False         False  False  False
..          ...    ...    ...          ...           ...    ...    ...
96        False  False  False        False         False  False  False
97        False  False  False        False         False  False  False
98        False  False  False        False         False  False  False
99        False  False  False        False         False  False  False
100       False  False  False        False         False   True   True

     MWT1Best   FEV1  FEV1PRED  ...   SGRQ  AGEquartiles   copd  gender  \
0       False  False     False  ...  False         False  False   False
1       False  False     False  ...  False         False  False   False
2       False  False     False  ...  False         False  False   False
3       False  False     False  ...  False         False  False   False
4       False  False     False  ...  False         False  False   False
..        ...    ...       ...  ...    ...           ...    ...     ...
96      False  False     False  ...  False         False  False   False
97      False  False     False  ...  False         False  False   False
98      False  False     False  ...  False         False  False   False
99      False  False     False  ...  False         False  False   False
100      True  False     False  ...  False         False  False   False

     smoking  Diabetes  muscular  hypertension  AtrialFib    IHD
0      False     False     False         False      False  False
1      False     False     False         False      False  False
2      False     False     False         False      False  False
3      False     False     False         False      False  False
4      False     False     False         False      False  False
..       ...       ...       ...           ...        ...    ...
96     False     False     False         False      False  False
97     False     False     False         False      False  False
98     False     False     False         False      False  False
99     False     False     False         False      False  False
100    False     False     False         False      False  False

[101 rows x 24 columns]>

In [26]:
#Drop rows where isnull = True
if copd_dataset1.isnull().any().any():
    copd_dataset1 = copd_dataset1.dropna()  
    print("Rows with isnull values = True have been dropped.")
else:
    print("No missing values found.")
#First run, receive "Rows with isnull values have been dropped".  
# The second time run, it says "No missing vaules found"

Rows with isnull values = True have been dropped.

In [27]:
#Reset the index after null values have been dropped
copd_dataset1 = copd_dataset1.dropna().reset_index(drop=True)#

In [28]:
#Get column names for preparation to drop unnecessary columns
copd_dataset1.columns

Index(['Unnamed: 0', 'ID', 'AGE', 'PackHistory', 'COPDSEVERITY', 'MWT1',
       'MWT2', 'MWT1Best', 'FEV1', 'FEV1PRED', 'FVC', 'FVCPRED', 'CAT', 'HAD',
       'SGRQ', 'AGEquartiles', 'copd', 'gender', 'smoking', 'Diabetes',
       'muscular', 'hypertension', 'AtrialFib', 'IHD'],
      dtype='object')

In [29]:
#Get an idea of what individual column/data looks like

In [30]:
#Set the display options for Pandas. The first line sets a global display option in Pandas to format
pd.set_option('display.float_format', '{:.2f}'.format)
copd_dataset1.describe()

,Unnamed: 0,ID,AGE,PackHistory,MWT1,MWT2,MWT1Best,FEV1,FEV1PRED,FVC,...,SGRQ,AGEquartiles,copd,gender,smoking,Diabetes,muscular,hypertension,AtrialFib,IHD
count,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
mean,50.43,91.47,70.12,39.80,385.86,389.80,398.72,1.60,58.40,2.96,...,40.17,2.47,2.20,0.64,1.84,0.21,0.19,0.11,0.20,0.09
std,29.15,52.04,7.87,24.62,104.74,108.19,107.02,0.68,22.45,0.98,...,18.36,1.10,0.89,0.48,0.37,0.41,0.40,0.32,0.40,0.29
min,1.00,1.00,44.00,1.00,120.00,120.00,120.00,0.45,3.29,1.14,...,2.00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,25.50,48.50,65.50,21.50,300.00,302.50,302.50,1.10,42.00,2.27,...,28.37,1.50,2.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00
50%,50.00,87.00,71.00,36.00,419.00,399.00,420.00,1.60,60.00,2.77,...,38.21,3.00,2.00,1.00,2.00,0.00,0.00,0.00,0.00,0.00
75%,75.50,143.50,75.00,52.50,460.50,459.00,465.50,1.94,75.00,3.63,...,55.39,3.00,3.00,1.00,2.00,0.00,0.00,0.00,0.00,0.00
max,100.00,169.00,88.00,109.00,688.00,699.00,699.00,3.18,102.00,5.37,...,77.44,4.00,4.00,1.00,2.00,1.00,1.00,1.00,1.00,1.00

In [31]:
#Clean dataset(s) 
#Define my program to clean my dataset.
def clean_cd(copd_dataset1):

# Convert the first letter of each column name to a capital with title and strip extra spaces and 
# replace _ with a space.
   copd_dataset1.columns = copd_dataset1.columns.str.title()

   # Drop unnecessary columns that will not be needed in my analysis.
   cols_to_drop = ['CAT', 'HAD', 'SGRQ', 'AGEquartiles']
   copd_dataset1 = copd_dataset1.drop(columns = cols_to_drop, errors = 'ignore')

   #Drop rows with missing values.
   copd_dataset1 = copd_dataset1.dropna()
   return copd_dataset1

In [32]:

# call my function to clean my data, drop unnecessary columns, and print out the result to make sure the 
# correct columns were cleaned and dropped.
copd_dataset1_cleaned = clean_cd(copd_dataset1)
copd_dataset1_cleaned.head(10)

,Unnamed: 0,Id,Age,Packhistory,Copdseverity,Mwt1,Mwt2,Mwt1Best,Fev1,Fev1Pred,...,Sgrq,Agequartiles,Copd,Gender,Smoking,Diabetes,Muscular,Hypertension,Atrialfib,Ihd
0,1,58,77,60.00,SEVERE,120.00,120.00,120.00,1.21,36.00,...,69.55,4,3,1,2,1,0,0,1,0
1,2,57,79,50.00,MODERATE,165.00,176.00,176.00,1.09,56.00,...,44.24,4,2,0,2,1,0,0,1,1
2,3,62,80,11.00,MODERATE,201.00,180.00,201.00,1.52,68.00,...,44.09,4,2,0,2,1,0,0,1,0
3,4,145,56,60.00,VERY SEVERE,210.00,210.00,210.00,0.47,14.00,...,62.04,1,4,1,2,0,0,1,1,0
4,5,136,65,68.00,SEVERE,204.00,210.00,210.00,1.07,42.00,...,75.56,1,3,1,2,0,1,1,0,0
5,6,84,67,26.00,MODERATE,216.00,180.00,216.00,1.09,50.00,...,73.82,2,2,0,1,1,0,0,1,0
6,7,93,67,50.00,SEVERE,214.00,237.00,237.00,0.69,35.00,...,77.44,2,3,0,1,1,0,0,1,0
7,8,27,83,90.00,SEVERE,214.00,237.00,237.00,0.68,32.00,...,45.41,4,3,1,2,1,0,0,1,0
8,9,114,72,50.00,MODERATE,231.00,237.00,237.00,2.13,63.00,...,69.61,3,2,1,1,1,0,0,1,0
9,10,152,75,6.00,SEVERE,226.00,240.00,240.00,1.06,46.00,...,55.56,3,3,0,2,0,1,0,0,0

In [33]:

#Set the display options for Pandas for the new cleaned dataset - copd_dataset1_cleaned.  The first 
#line sets a global display option in Pandas to format floating point numnbers, and formats the numbers 
# to show two decimal places. 
#The second line gives a summary of descriptive statistics for the dataset housing_unit_cleaned.  
pd.set_option('display.float_format', '{:.2f}'.format)
copd_dataset1_cleaned.describe()

,Unnamed: 0,Id,Age,Packhistory,Mwt1,Mwt2,Mwt1Best,Fev1,Fev1Pred,Fvc,...,Sgrq,Agequartiles,Copd,Gender,Smoking,Diabetes,Muscular,Hypertension,Atrialfib,Ihd
count,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
mean,50.43,91.47,70.12,39.80,385.86,389.80,398.72,1.60,58.40,2.96,...,40.17,2.47,2.20,0.64,1.84,0.21,0.19,0.11,0.20,0.09
std,29.15,52.04,7.87,24.62,104.74,108.19,107.02,0.68,22.45,0.98,...,18.36,1.10,0.89,0.48,0.37,0.41,0.40,0.32,0.40,0.29
min,1.00,1.00,44.00,1.00,120.00,120.00,120.00,0.45,3.29,1.14,...,2.00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,25.50,48.50,65.50,21.50,300.00,302.50,302.50,1.10,42.00,2.27,...,28.37,1.50,2.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00
50%,50.00,87.00,71.00,36.00,419.00,399.00,420.00,1.60,60.00,2.77,...,38.21,3.00,2.00,1.00,2.00,0.00,0.00,0.00,0.00,0.00
75%,75.50,143.50,75.00,52.50,460.50,459.00,465.50,1.94,75.00,3.63,...,55.39,3.00,3.00,1.00,2.00,0.00,0.00,0.00,0.00,0.00
max,100.00,169.00,88.00,109.00,688.00,699.00,699.00,3.18,102.00,5.37,...,77.44,4.00,4.00,1.00,2.00,1.00,1.00,1.00,1.00,1.00

In [ ]:
# DATASET 2 STARTS HERE
# Patient Risk Profiles database
# file name 'patient_risk_profiles.csv'

In [36]:
# Import my second dataset from Kaggle after unzipping the dataset in my Project folder
copd_dataset2 = pd.read_csv('patient_risk_profiles.csv')

In [38]:
#Display the first 10 rows of the 2nd dataset to see the column names and data in the columns
copd_dataset2.head(10)

,personId,age group: 10 - 14,age group: 15 - 19,age group: 20 - 24,age group: 65 - 69,age group: 40 - 44,age group: 45 - 49,age group: 55 - 59,age group: 85 - 89,age group: 75 - 79,...,predicted risk of Muscle weakness or injury,predicted risk of Ankylosing Spondylitis,predicted risk of Autoimmune hepatitis,predicted risk of Multiple Sclerosis,"predicted risk of Acute pancreatitis, with No chronic or hereditary or common causes of pancreatitis",predicted risk of Ulcerative colitis,predicted risk of Migraine,predicted risk of Dementia,predicted risk of Treatment resistant depression (TRD),"predicted risk of Parkinson's disease, inpatient or with 2nd diagnosis"
0,1,0,0,0,0,0,0,0,0,0,...,0.02,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00
1,2,0,0,0,0,0,0,0,0,0,...,0.18,0.00,0.00,0.00,0.00,0.00,0.02,0.28,0.01,0.02
2,3,0,0,0,0,0,1,0,0,0,...,0.02,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00
3,4,0,0,0,0,0,0,0,0,0,...,0.02,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.00
4,5,0,0,0,0,0,0,0,0,0,...,0.06,0.00,0.00,0.00,0.00,0.06,0.00,0.02,0.00,0.00
5,6,0,0,0,0,0,0,0,0,1,...,0.04,0.00,0.00,0.00,0.00,0.00,0.01,0.05,0.00,0.00
6,7,0,0,0,0,0,0,0,0,1,...,0.13,0.00,0.00,0.00,0.00,0.01,0.03,0.33,0.00,0.00
7,8,0,1,0,0,0,0,0,0,0,...,0.05,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00
8,9,0,0,0,1,0,0,0,0,0,...,0.03,0.00,0.00,0.00,0.00,0.04,0.01,0.01,0.00,0.00
9,10,0,0,0,0,0,0,1,0,0,...,0.04,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.00

In [39]:
# DATASET 3 STARTS HERE
# respiratory symptoms and treatment database
# file name respiratory symptoms and treatment.csv

In [40]:
# Import my second dataset from Kaggle after unzipping the dataset in my Project folder
copd_dataset3 = pd.read_csv('respiratory symptoms and treatment.csv')

In [41]:
#Display the first 10 rows of the 3rd dataset to see the column names and data in the columns
copd_dataset3.head(10)

                     Symptoms   Age     Sex Disease    Treatment  Nature
0                   coughing   5.00  female  Asthma   Omalizumab    high
1  tight feeling in the chest  4.00  female  Asthma  Mepolizumab    high
2                    wheezing  6.00    male  Asthma  Mepolizumab    high
3         shortness of breath  7.00    male  Asthma  Mepolizumab    high
4         shortness of breath  9.00    male  Asthma  Mepolizumab    high
5  tight feeling in the chest   NaN    male  Asthma  Mepolizumab    high
6         shortness of breath   NaN    male  Asthma  Mepolizumab    high
7  tight feeling in the chest  8.00  female  Asthma  Mepolizumab    high
8         shortness of breath 36.00  female  Asthma  Mepolizumab  medium
9                    wheezing 40.00  female  Asthma   Omalizumab  medium